venv/
.venv/
__pycache__/
*.pyc

.git/
.github/

.dvc/
*.dvc
.dvcignore

# Local MLflow files
mlflow.db

# Local experiment/output folders
mlartifacts/

# Development files
.vscode/
.ipynb_checkpoints/

# Documentation
README.md